.wrapper {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  background-color: #fafafa;
}

.contentWrapper {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  padding: 20px;
}

.title {
  margin-bottom: 20px;
}

.titleLink {
  margin-left: 20px;
}

.subTitle {
  margin: 20px 0 10px 0;
}

.demoBox {
  height: 200px;
  background-color: #1f1f1f;
  color: #fafafa;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
